[Unit]
Description=Application Speech-to-Text - Version Améliorée
After=network.target sound.target graphical.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/speech_to_text
Environment="DISPLAY=:0"
Environment="PATH=/home/pi/speech_to_text/venv/bin"
Environment="PYTHONUNBUFFERED=1"
ExecStart=/home/pi/speech_to_text/venv/bin/python3 /home/pi/speech_to_text/app_desktop.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=graphical.target
